$l-controler-color: #01ffe9;
$r-controler-color: #fe0016;
$um-analogico: white;
$dois-botao: #A9A9A9;
body {
    padding: 0 !important;
    margin: 0 !important;
}

.master {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    >div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
}

.video {
    border: solid 5px black;
    iframe {
        width: auto;
        height: 350px;
    }
}

.l-controler {
    background-color: $l-controler-color;
    .l-pad-1 {
        .aUp {
            width: auto;
            margin-bottom: 25px;
            .arrowUp {
                display: inline-block;
                padding: 15px 25px;
                font-size: 24px;
                width: 125px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: black;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
            }
            .arrowUp:hover {
                background-color: black
            }
            .arrowUp:active {
                background-color: black;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
        }
        .aDown {
            width: auto;
            padding-bottom: 10px;
            margin-top: -6px;
            margin-bottom: 50px;
            .arrowDown {
                display: inline-block;
                padding: 15px 25px;
                font-size: 24px;
                width: 125px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: black;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
            }
            .arrowDown:hover {
                background-color: black
            }
            .arrowDown:active {
                background-color: black;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
        }
    }
    .l-pad-2 {
        .a {
            display: inline-block;
            height: 50px;
            width: 50px;
            border-radius: 70%;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: red;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }
        .a:hover {
            background-color: red;
        }
        .a:active {
            background-color: red;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
        .b {
            display: inline-block;
            height: 50px;
            width: 50px;
            border-radius: 70%;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: yellow;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }
        .b:hover {
            background-color: yellow;
        }
        .b:active {
            background-color: yellow;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}

.r-controler {
    background-color: $r-controler-color;
    .r-pad-1 {
        .laterais {
            width: auto;
            margin-top: 70px;
            .arrowLeft {
                display: inline-block;
                padding: 15px 25px;
                font-size: 24px;
                height: 100px;
                width: 70px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: black;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
            }
            .arrowLeft:hover {
                background-color: black
            }
            .arrowLeft:active {
                background-color: black;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
            .arrowRight {
                display: inline-block;
                padding: 15px 25px;
                font-size: 24px;
                height: 100px;
                width: 70px;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                outline: none;
                color: #fff;
                background-color: black;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
            }
            .arrowRight:hover {
                background-color: black
            }
            .arrowRight:active {
                background-color: black;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
        }
    }
    .r-pad-2 {
        .c {
            display: inline-block;
            height: 50px;
            width: 50px;
            border-radius: 70%;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: blue;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }
        .c:hover {
            background-color: blue;
        }
        .c:active {
            background-color: blue;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
        .d {
            display: inline-block;
            height: 50px;
            width: 50px;
            border-radius: 70%;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: yellow;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }
        .d:hover {
            background-color: yellow;
        }
        .d:active {
            background-color: yellow;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    }
}