$l-controler-color: #01ffe9;
$r-controler-color: #fe0016;
$um-analogico: #4F4F4F;
$dois-botao: #A9A9A9;
body {
    padding: 0 !important;
    margin: 0 !important;
}

.master {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
}

.master>div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.video {
    border: solid 5px black;
}

.video iframe {
    width: auto;
    height: 350px;
}

.l-controler,
.r-controler {
    .um {
        background-color: $um-analogico;
        margin: 2px;
        .item1 {
            width: auto;
        }
        .item2 {
            width: auto;
        }
        .item3 {
            width: auto;
            padding-bottom: 10px;
        }
    }
    .dois {
        background-color: $dois-botao;
        margin: 2px;
    }
}

.l-controler {
    background-color: $l-controler-color;
}

.r-controler {
    background-color: $r-controler-color;
}