* {
    margin: !important 0;
    padding: !important 0;
}

.main {
    margin-bottom: 0;
}

.right,
.left,
.middle {
    height: 100vh;
    .but {
        margin-top: 10vh;
        a {
            margin: 1vh;
        }
    }
    .dial {
        .joyDiv,
        .joyDiv2 {
            width: 44vh;
            height: 44vh;
            margin-top: 5vh;
        }
    }
}

.left {
    background-color: #01ffe9;
}

.middle {
    background-color: lightgray;
    iframe {
        width: 88.9vh;
        height: 93vh;
    }
}

.right {
    background-color: #fe0016;
}